.pageContainer {
  margin-inline: 5%;
}

.headerContainer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #333333;
}

.tableContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoBoxContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

@media screen and (max-width: 750px) {
  .infoBoxContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .headerContainer {
    flex-direction: column;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*center chartContainer*/
.chartContainer {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0 !important;
}

.chartHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.plotContainer {
  width: 90%;
  display: flex;
  justify-content: center;
}

.buyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.priceText {
  font-size: 2rem;
}

.logoName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logoView {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*make all svg look the same size dynamically*/
.logoview svg {
  width: 100%;
  height: 100%;
  max-width: 20%;
  max-height: 20%;
  object-fit: contain;
  preserveaspectratio: none;
}


.searchInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  width: 360px;
}

.searchInput div{
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 0 30px;
  height: 50px;
}

.searchInput input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

.searchInput input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.searchInput div .formSubmit {
  border: none;
  padding: 0;
}

.searchInput input.formSubmit {
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: url("https://img.icons8.com/ios/512/search.png") no-repeat 13px
    center;
  background-size: 20px 20px;
}

@media screen and (max-width: 750px) {
  .searchInput {
    width: 100%;
    align-items: center;
  }
}
